* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: clamp(14px, 10vw, 18px);
}

.main {
    background-image: url(./view-1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 3rem;
    position: relative;

    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .top {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            h1 {
                font-size: 6rem;
                font-weight: 900;
                line-height: 0.9;
                margin: 0;
            }

            .center-text {
                text-align: center;
                max-width: 250px;
                font-size: 0.8rem;
                margin-bottom: 1rem;
                opacity: 0.8;
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -1.5rem;

            h1 {
                font-size: 7rem;
                font-weight: 900;
                text-align: center;
                // margin: 0;
            }

            button {
                margin-top: 2rem;
                padding: 1rem 2rem;
                border: 0.1rem solid white;
                background: transparent;
                color: white;


                button:hover {
                    background: white;
                    color: black;
                    cursor: pointer;
                    transition: 0.3s;
                }
            }
        }
    }

    @media (max-width: 900px) {
        .content {
            .top {
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 1rem;
            }
        }
    }
}