* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: clamp(14px, 5vw, 18px);
}

nav {
    .text {
        display: flex;

        .fit {
            color: orangered;
        }
    }
}

.view1 {
    background-image: url(./view-1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
    padding: 0rem 1rem 1rem 0rem;

    .top-text {
        padding: 6rem 1rem 0rem 1rem;
        display: flex;
        justify-content: center;
        gap: 0.7rem;

        h1 {
            font-size: 2.5rem;
        }
    }

    .center-text {
        padding: 0rem 0rem 0rem 1.5rem;

        h1 {
            font-size: 2.5rem;
        }

        .cntr-h1 {
            padding-left: 4rem;
            margin-bottom: 3rem;
        }
    }

    .bottom-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0rem 5rem 0rem 5rem;
        gap: 1rem;
        margin-bottom: 5rem;

        span {
            text-align: center;
            font-size: 1rem;
            font-weight: 700;
        }

        p {
            text-align: center;
        }
    }

    .btn {
        display: flex;
        justify-content: center;

        button {
            padding: 1.2rem 3rem;
            background-color: black;
            color: white;
            border: none;
            font-size: 1rem;
            cursor: pointer;
        }

        button:hover {
            background: transparent;
            border: 0.1rem solid white;
        }
    }
}